# -----------------------------------------
# Python
# -----------------------------------------

__pycache__/
*.py[cod]
*$py.class

# -----------------------------------------
# Virtual Environment
# -----------------------------------------

venv/

# -----------------------------------------
# VS Code
# -----------------------------------------

.vscode/

# -----------------------------------------
# Pytest / Coverage
# -----------------------------------------

.pytest_cache/
.coverage
htmlcov/

# -----------------------------------------
# Environment Files
# -----------------------------------------

.env

# -----------------------------------------
# OS Files
# -----------------------------------------

Thumbs.db
.DS_Store

# -----------------------------------------
# Log Files
# -----------------------------------------

*.log

# -----------------------------------------
# Temporary Files
# -----------------------------------------

*.tmp
*.bak

# -----------------------------------------
# SQLite Databases and Backups
# -----------------------------------------

*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3