{% extends "base.html" %}

{% block content %}

<div class="card">
    <h2>Login</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form method="post">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <aside class="login-privacy-notice"
           aria-labelledby="privacy-use-notice-heading">
        <h3 id="privacy-use-notice-heading">Privacy and Use Notice</h3>
        <p>
            By signing in, you acknowledge that your first name, last name,
            and email address are stored in the NHPSG Manager system for the
            purpose of providing access to and supporting your work. This
            information is stored on NHPSG’s local server and is not stored
            outside Canada. Users are expected to enter information accurately
            and truthfully.
        </p>
    </aside>
</div>

{% endblock %}
