{% extends "base.html" %}

{% block content %}

<div class="card">
    <h2>Shift Tasks</h2>

    {% if can_manage_tasks %}
        <p><a href="/shift-task/new">+ Add Shift Task</a></p>
    {% endif %}

    <p>
        Show:

        {% if status_filter == "all" %}
            <strong>All</strong>
        {% else %}
            <a href="{{ url_for('shift_tasks', status='all') }}">
                All
            </a>
        {% endif %}

        |

        {% if status_filter == "active" %}
            <strong>Active</strong>
        {% else %}
            <a href="{{ url_for('shift_tasks', status='active') }}">
                Active
            </a>
        {% endif %}

        |

        {% if status_filter == "inactive" %}
            <strong>Inactive</strong>
        {% else %}
            <a href="{{ url_for('shift_tasks', status='inactive') }}">
                Inactive
            </a>
        {% endif %}
    </p>

    {% if tasks %}
        <table>
            <tr>
                <th>Stage</th>
                <th>Task</th>
                <th>Instructions</th>
                <th>Required</th>
                <th>Status</th>
				{% if can_manage_tasks %}<th>Action</th>{% endif %}
            </tr>

            {% for task in tasks %}
			<tr class="{% if task.active %}row-active{% else %}row-inactive{% endif %}">
				<td>{{ task.task_stage }}</td>
				<td>{{ task.task_name }}</td>
				<td>{{ task.instructions }}</td>
				<td>{% if task.required %}Yes{% else %}No{% endif %}</td>
				<td>
    				{% if task.active %}
        				<span class="status-active">🟢 Active</span>
    				{% else %}
        				<span class="status-inactive">⚪ Inactive</span>
    				{% endif %}
				</td>

				{% if can_manage_tasks %}<td>
					<a href="{{ url_for('shift_task_edit', shift_task_id=task.shift_task_id, status=status_filter) }}">Edit</a>

					{% if task.active %}
						| <a href="{{ url_for('shift_task_deactivate', shift_task_id=task.shift_task_id, status=status_filter) }}">Deactivate</a>
					{% else %}
						| <a href="{{ url_for('shift_task_reactivate', shift_task_id=task.shift_task_id, status=status_filter) }}">Reactivate</a>
					{% endif %}
				</td>{% endif %}
			</tr>
			{% endfor %}
        </table>
    {% else %}

        {% if status_filter == "active" %}
            <p>No active shift tasks were found.</p>
        {% elif status_filter == "inactive" %}
            <p>No inactive shift tasks were found.</p>
        {% else %}
            <p>No shift tasks have been added yet.</p>
        {% endif %}

    {% endif %}
</div>

{% endblock %}
